.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('path/to/your/background-image.jpg'); /* Add your background image path */
    background-size: cover;
}

.password-reset-container form {
    background-color:white;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.password-reset-container form h2 {
    margin-bottom: 20px;
}

.password-reset-container form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}

.password-reset-container form button {
    padding: 10px;
    background-color: rgb(38, 131, 50);
    color: white;
    border: none;
    cursor: pointer;
}

.password-reset-container form button:hover {
    background-color: rgb(60, 161, 56);
}
