#h2{
  text-align: center;
}
#card label,
input {
  font-weight: bold;
  /* margin: 10px !important; */
  margin-left: 1.5rem !important;
  margin-bottom:10px !important;
}

#card input {
  width: calc(100% - 3rem); /* Adjust width to fit the card */
}

#card button {
  color: white !important;
  text-decoration: none !important;
  margin: 0.343rem !important;
  font-weight: bold;
  width: 100%;
}

#card a {
  text-decoration: none !important;
  color: rgb(22, 0, 0);
  margin: 3rem !important;
  font-weight: bold;
}

#card a:hover {
  cursor: pointer;
  color: rgb(14, 3, 3);
}
